body {
    background-color: #f8f9fa;
    font-family: 'Raleway', Arial, sans-serif;
}

/******HEADER******/




#header-img {
    width: auto;
    height: 2.5rem !important; 
    margin-left: 40px;
}

/******NAVBAR******/
.navbar-nav {
    margin-left: auto;
}


/*****TEXT-BLOCK******/

.text-block {
    bottom: 40px;
    right: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
}

.text-block a {
    color: white;
}


/******CAROUSEL******/

  .carousel-item {

    height: 95vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-image: none;
    background-size: auto auto;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;    
}

/******CONTENT******/
/*embed video*/
iframe {
    max-width: 560px;
    width: 100%;
  }

/*infoRow*/
.row {
    padding: 10%;
    justify-content: center;
}

#pricing-openinghours {
    color: white;
    background-color: #4C7BA0;
}
.table-dark {
    background-color: rgba(0,0,0,0.5);
}

.contentRow {
}

.container-fluid {
}




input[type="email"] {
    max-width: 265px;
    width: 100%;
    padding: 5px;
  }

  input[type="submit"] {
    max-width: 100px;
    width: 100%;
    height: 30px;
    margin: 15px 15px;
    color: white;    
    background-color: #4C7BA0;
    border: 1px;
  }

  footer {
    color: rgba(0,0,0,.5);
    background-color: #4C7BA0;
    padding: 10px;
    text-align: right;  
  }

  .social-icons a {
    display: inline-block;    
    color: #ffffff !important;
    font-size: 1.5rem;
    margin-right: 1rem;
  }

/******FONT******/

.p-text-block {
    margin-top: -15px;
}

.em-1 {
    font-size: 15px;
}

.h-info {
    color: #4C7BA0;
}






@media (min-width: 800px) {
    .text-block {
      width: 25vw;
      margin-right: 300px;
      margin-bottom: 300px;
    }
    .carousel-item {

        height: 100vh;
        min-height: 300px;
        background: no-repeat center center scroll;
        background-image: none;
        background-size: auto auto;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 400px) {
    .text-block {
    width: 80vw;
    height: 30vh;
    }
}











/*

font-family: "Comfortaa", Helvetica, Arial, sans-serif;


$(document).ready(function() {

        // Transition effect for navbar and back-to-top icon
        $(window).scroll(function() {
          // checks if window is scrolled more than 500px, adds/removes solid class
          if($(this).scrollTop() > 550) { 
              $('.navbar').addClass('solid');
              $('.back-to-top').addClass('visible'); 
          } else {
              $('.navbar').removeClass('solid');
              $('.back-to-top').removeClass('visible');  
          }

        });


        // Scrolling effect for Arrow icons
        $("#scrollIcon").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#about"), 1000);
        });
        $("#nav-about").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#about"), 1000);
        });
        $("#nav-portfolio").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#portfolio"), 1000);
        });
        $("#nav-contact").click(function(e) {
            e.preventDefault();
            $.scrollTo($("#contact"), 1000);
        });
        $(".navbar-brand").click(function(e) {
            e.preventDefault();
            $.scrollTo(0, 1000);
        });
          
      });
*/