

body {
    background-color: #f8f9fa;
}

/******HEADER******/
#header {}

/******NAVBAR******/
.navbar-brand {
    margin-left: 40px;
}
.navbar-nav {
    margin-left: auto;
}

/*****TEXT-BLOCK******/

.text-block {
    height: 30vh;
    width: 75vw;
    bottom: 40px;
    right: 10px;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
}


/******CAROUSEL******/

  .carousel-item {

    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-image: none;
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/******CONTENT******/

/*infoRow*/
.row {
    padding: 10%;
    justify-content: center;
}

/******FONT******/

.p-text-block {
    margin-top: -15px;
}

.em-1 {
    font-size: 13px;
    float: right;  
}

.h-info {
    color: #4C7BA0;
}










